body {
    background-color: #000;
    color: white;
}


.card-item {
    cursor: pointer;
    overflow: hidden;
}


.card-layer {
    background-color: rgba(249, 246, 246, 0.792);
    transition: top 0.5s;
    color: black !important;
}

.card-item:hover .card-layer {
    top: 0 !important;
}

input::placeholder {
    color: white !important;
}

input {
    color: white !important;
}

.loading-screen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: block;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}

@keyframes mulShdSpin {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em,
            2em -2em 0 0em, 3em 0 0 -1em,
            2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
            3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em,
            2em -2em 0 0, 3em 0 0 0.2em,
            2em 2em 0 0, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
            -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
            -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
            -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}


.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 5%;
    transition: all 1s;


}

.nav-items {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -20%;
    z-index: 99;
    color: #fff;
    width: 17%;
    transition: all 1s;
    background-color: black;
}

nav i {
    cursor: pointer;
}

#closeBtn {
    transition: all 0.4s;
}

#openBtn {
    transition: all 0.4s;
}

.contact input::placeholder {
    color: grey !important;
}

.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact input {
    color: black !important;
}


#NavList {
    transform: translateY(100%);
    transition: all 0.9s;
}


@media screen and (max-width: 600px) {
    .navbar {
        width: 10%;
        z-index: 999;
        

    }

    .nav-items {
        width: 30%;
        padding: 26px;
        left: -50%;

    }

    #NavList {
        font-size: 12px;
    }

    .nav-footer {
        font-size: 12px;
        width: 50%;

    }
}